# ublic int i;
public GameObject[] prefab;
public GameObject field;
public int abstand = 3;

// Use this for initialization
void Start () {



	for (i = 0; i < 100; i++)
	{
		prefab[i] = Instantiate(field) as GameObject;
		Instantiate(prefab[i], new Vector3(i * 2.0F, 0, 0), Quaternion.identity);
		prefab[i].transform.localPosition = new Vector3(-200, 0, (i * abstand));
		prefab[i].name = "Mais" + i;

	}



}

// Update is called once per frame
void Update () {

}
}
